
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-color: rgb(177, 36, 36);
    font-size: 15pt;
    justify-content: center;
    text-align: center;
}
section{
    background-color: whitesmoke;
    font-family: 'Rubik';
    width: 600px;
    padding: 20px;
    margin: auto;

    border-radius: 15px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
div{
    padding: 8px;
}
footer p{
    color: whitesmoke;
    font-family: 'Roboto Mono';
    font-style: italic;
}
.text{
    color: whitesmoke;
    font-family: 'Playwrite MX';
}
#foto img{
    border-radius: 20%;
}
