#myBox{
    background-color: rgb(47, 201, 47);
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#myButton{
    font-size: 3rem;
}